<div class="container">
  <div class="row">
    <div class="col-md-7 mb-3">
      <div class="card">
        <div class="card-header text-white">Welcome Trip Planner Users!</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <p>The Trip Planner portal provides our users with an easy way of organizing their trips.</p>

              <p>Having trouble logging in or don’t know your access credentials?  Please reach out to your Packt Development team for your user login and password.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <affiliate-app-login *ngIf="!loggedIn"></affiliate-app-login>
    </div>
  </div>
  </div>
