<div class="container tab-pane active">
    <form #frmSaveTripLink="ngForm" class="was-validated" (ngSubmit)="Submit()">
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-3 col-md-12">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <span style="width: 100px;">Name</span>
                    </div>
                </div>
                <input type="text" [(ngModel)]="linkToEdit.name" name="name" class="form-control" placeholder="Name">
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-3 col-md-12">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <span style="width: 100px;">Web Link</span>
                    </div>
                </div>
                <input type="text" [(ngModel)]="linkToEdit.link" name="link" class="form-control" placeholder="Address 1">
            </div>
        </div>  
         
        <div class="row">
                <div class="input-group mb-3 col-md-12">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                        <label class="custom-control-label" for="customCheck">Skip saving?</label>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="input-group mb-3 col-md-2">
                <input type="button" class="form-control btn-secondary" value="Save" />
            </div>
            <div class="input-group mb-3 col-md-2">
                <input type="button" class="form-control btn-primary" (click)="NavigateToLinks()" value="Back to list" />
            </div>           
        </div>
    </form>
</div>